ASAN_OPTIONS=exitcode=55 allow_addr2line=1 detect_stack_use_after_return=1 halt_on_error=0 suppressions=%ROOT%quality/sanitizer/asan.supp
UBSAN_OPTIONS=exitcode=55 print_stacktrace=1 halt_on_error=1 suppressions=%ROOT%quality/sanitizer/ubsan.supp
LSAN_OPTIONS=exitcode=55 suppressions=%ROOT%quality/sanitizer/lsan.supp
